<%- include('../layouts/header.ejs') %>
    <%- include('../includes/navbar.ejs') %>
        <div style="height: 55px;"></div>
        <%- include('../includes/header.ejs') %>
            <div id="app">
                <div class="container bg-footer pt-2">
                    <div class="row">
                        <div class="col-12 col-xl-8">
                            <div>
                                <h3 class="kanit text-light">แฟ้มสะสมผลงาน</h3>
                            </div>
                            <div v-if="loading">
                                <div class="d-flex flex-row justify-content-center m-2" id="loadingId">
                                    <span class="fa fa-spinner fa-spin fa-3x"></span>
                                </div>
                            </div>
                            <div v-else class="row p-3" id="portfolio_body">
                                <!-- vuejs forin -->
                                <div v-for="portfolio in portfolios" class="col-4 col-xl-3 p-1 rounded item-hover">
                                    <img class="item-image rounded" :src="portfolio.p_detail[0].image_address"
                                        width="100%">
                                    <div class="item-text">
                                        <a :href="'/portfolio/ep/' + portfolio.p_id" class="p-0">
                                            <div
                                                class="d-flex flex-row justify-content-center bg-gradient-color-o text-light">
                                                เข้าชม</div>
                                        </a>
                                        <div class="d-flex flex-row">
                                            <div class="col-4 p-1"><img class="item-image"
                                                    :src="portfolio.p_detail[0].image_address" width="100%"></div>
                                            <div class="col-4 p-1"><img class="item-image"
                                                    :src="portfolio.p_detail[1].image_address" width="100%"></div>
                                            <div class="col-4 p-1"><img class="item-image"
                                                    :src="portfolio.p_detail[2].image_address" width="100%"></div>
                                        </div>
                                        <div class="item-name p-2 text-light">
                                            {{portfolio.p_title}}
                                            {{portfolio.p_name}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <%- include('../includes/blogs.ejs') %>
                    </div>
                </div>
            </div>
            <script>
                new Vue({
                    el: "#app",
                    data: {
                        loading: true,
                        portfolios: [],
                    },
                    methods: {
                        fetchAxios: function () {
                            let vm = this
                            axios({
                                method: 'get',
                                url: '/services/portfolio',
                            }).then(function (response) {
                                vm.portfolios = response.data
                                vm.loading = false
                            }).catch(function (error) {
                                console.log(error);
                            })
                        },
                    },
                    mounted() {
                        this.fetchAxios()
                    },
                });
            </script>
            <%- include('../includes/footer.ejs') %>
                <%- include('../layouts/footer.ejs') %>